@{
    ViewData["Title"] = "Shop";
}
<h1>فروشگاه</h1>
<p>محصولات</p> 

@* @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
     <p class="form-horizontal">
        <p>Employee</p>
        <hr />
        
        <p class="form-group">
        
            <p class="col-md-10">
        
            </p>
        </p>

    
        <p class="form-group">
            <p class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </p>
        </p>
    </p>
}

} *@
<table class="table table-responsive">
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Title</th>
                <th>Price</th>
                <th>Count</th>
                <th>Desc</th>
            </tr>
            @{
                foreach(var item in Model){
                    <tr>
                        <td>@item.Id</td>
                        <td><img src="@item.picPath" /></td>
                        <td>@item.title</td>
                        <td>@item.price</td>
                        <td>@item.count</td>
                        <td>@item.description</td>
                    </tr>
                }
            }
</table>
