@model IEnumerable<Amir_Jelodarian_Dotnet.Models.Products>
@{
    ViewData["Title"] = "Shop";
}
<h1>فروشگاه</h1>
<p>محصولات</p> 

<form asp-action="SaveForms" asp-controller="Shopping" method="post" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Title" />
    <input type="number" name="price" placeholder="Price" />
    <input type="text" name="count" placeholder="Count" />
    <input type="text" name="description" placeholder="Desc" />
    <input type="file" name="pic" placeholder="Pic" />
    <input type="submit" />
</form>
<table class="table table-responsive">
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Title</th>
                <th>Price</th>
                <th>Count</th>
                <th>Desc</th>
            </tr>
            @{
                foreach(var item in Model){
                    <tr>
                        <td>@item.Id</td>
                        <td><img src="@item.picPath" /></td>
                        <td>@item.title</td>
                        <td>@item.price</td>
                        <td>@item.count</td>
                        <td>@item.description</td>
                    </tr>
                }
            }
</table>
